<a href="/" class="accent small">
  <h2 class="home-wrapper">
    <i class="fas fa-home"></i>
  </h2>
</a>
<a href="#" onclick="goBack();" class="accent">
  <h2 class="center-wrapper">Back to previous page</h2>
</a>

<script>
  function goBack() {
    var currentPath = window.location.pathname;
    var segments = currentPath.split('/').filter(Boolean); // Split the path and remove empty segments

    if (segments.length > 1) {
      // If there are more than 1 segment in the path, go back one segment
      segments.pop(); // Remove the last segment
      var newPath = '/' + segments.join('/') + '/'; // Reconstruct the new path
      window.location.href = newPath;
    } else {
      // If there is no previous segment, redirect to the home/index page
      window.location.href = "/"; // Replace "/" with the appropriate URL of your home/index page
    }
  }
</script>