---
layout: base.njk
---
<header>{% include 'header.njk' %}</header>
<div class="center-wrapper">
    {{ content | safe}}
</div>

<head>
  <meta name="robots" content="noindex">
  <link rel="icon" type="image/x-icon" href="/img/neon-notes.png">
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/css/styles.css" />
  <title>{{ title }}</title>
</head>