---
title: VAGABOND
layout: base2.njk
---

{% extends "vagabond_layout.njk" %}

{% set target = "email" %}
{% set message = "Please enter your email to recieve the meeting location for The Royal Rumble @ Adelaide Fringe, 6:30 PM AEST." %}

{% block fields %}
    <input type="text" name="email" placeholder="Email" required>
    <button type="submit">Submit</button>
{% endblock %}