---
title: VAGABOND
layout: base.njk
---

<header>
    <a href="/" class="accent small"></a>
</header>

<div class="center-wrapper">
    <h2>Thank you for choosing Vagabond as your adventure. Please check this page at 2pm.</h2>
    </form>
</div>

<script src="../js/vagabond_client.js"></script>