---
title: VAGABOND
layout: base.njk
---

{% extends "vagabond_layout.njk" %}

{% set target = "email" %}
{% set message = "Please enter your email to start" %}

{% block fields %}
    <input type="text" name="email" placeholder="Email" required>
    <button type="submit">Start Playing</button>
{% endblock %}