---
title: VAGABOND
layout: base.njk
---

{% extends "vagabond_layout.njk" %}

{% set target = "email" %}
{% set message = "Please choose your leader, who will enter their email to start. One email per group is sufficient." %}

{% block fields %}
    <input type="text" name="email" placeholder="Email" required>
    <button type="submit">Start Playing</button>
    <p>
    <br>
    <h3>For help, text: 0422 630 771</h3>
{% endblock %}