---
title: VAGABOND
layout: base.njk
---

{% extends "vagabond_layout.njk" %}

{% set target = "task4" %}
{% set message = "Task #4: Finally, make your way to Emo Park, where you'll encounter our alien friend. Take a photo of the friend from afar when you have found them, upload, and then approach them to welcome them to our realm." %}


