---
title: VAGABOND
layout: base.njk
---

<header>
    <a href="/" class="accent small"></a>
</header>

<div class="center-wrapper">
    <h2>Adventures await. Check back 22/2/24</h2>
    </form>
</div>

<script src="../js/vagabond_client.js"></script>