---
title: VAGABOND
layout: base.njk
---

{% set target = "task3" %}
<header>
    <a href="/" class="accent small"></a>
</header>

<div class="center-wrapper">
   <h2>Congratulations from the Vagabond Team!</h2>

    <p>Dear Members,</p>
    <p>Congratulations on successfully completing your journey with "VAGABOND" at the Adelaide Fringe! You have shown great curiosity and enthusiasm in welcoming our extraterrestrial visitor and uncovering the secrets of the alien society in Adelaide.</p>

    <h3>Join the Discussion:</h3>
    <p>We invite you to share your theories, experiences, and discoveries on our website forum. Your insights will contribute to a larger understanding of the mysterious alien presence in Adelaide. Join the discussion here: <a href="https://vagabond.discussion.community/latest">[Link]</a></p>

    <h3>We Value Your Feedback:</h3>
    <p>Your journey with us has been an adventure, and we would love to hear your thoughts on the experience. Feel free to email us with any feedback or suggestions you may have. Your input is invaluable in shaping future events and adventures.</p>

    <h3>Stay Curious:</h3>
    <p>Remember, the search for the unknown never ends. Keep looking to the stars and questioning the world around you. Who knows what mysteries you will uncover next?</p>

    <p>Thank you for being a part of "VAGABOND." We hope your adventure with us has been as thrilling for you as it has been for us.</p>

    <p>Warm regards,<br>
    The Vagabond Team</p>
    <form>
</div>

<script src="../js/vagabond_client.js"></script>