---
title: VAGABOND
layout: base.njk
---

{% extends "vagabond_layout.njk" %}

{% set target = "task2" %}
{% set message = "Task #2: Next, venture to the vicinity of Rundle Street. Your mission here is to seek out a piece of attire that exemplifies human fashion. This could be an intriguing item from a shop such as 'Goodbyes Clothing' or an interesting ensemble spotted on the streets. Photograph this item to educate our friend about the diverse styles and purposes of human clothing." %}


