---
title: VAGABOND
layout: base.njk
---

{% extends "vagabond_layout.njk" %}

{% set target = "task1" %}
{% set message = "Task #1: Begin your journey at the Botanic Gardens. Here, amidst a myriad of our Earth's flora, find an interestingly-shaped plant. Capture its essence with a photograph. This will be your first offering to our visitor, a 'vagabond' of sorts, which will be a token to pique their curiosity about our diverse vegetation." %}


