---
title: VAGABOND
layout: base.njk
---

{% extends "vagabond_layout.njk" %}

{% set target = "task3" %}
{% set message = "Task #3: Your next stop is the charming Page & Turner bookshop in Rundle Mall, Level 2 of the Myer Centre. Inside, scour the shelves for a book that you think would intrigue or inform our visitor. It could be a tale of adventure, a piece of Earth's history, or even a manual of some sort. Snap a picture of your chosen book to share with our esteemed otherwordly guest." %}


