---
title: VAGABOND
layout: base.njk
---

<header>
    <a href="/" class="accent small"></a>
</header>

<div class="center-wrapper">
    <h4>Task #5: After your remarkable encounter with our interstellar visitor in Emo Park, it's time to unwind and reflect on your extraordinary adventure. Your next and final destination is a tea room called "Curiositeas" on Rundle Street, a haven for those seeking respite after supernatural experiences.
<p>
<p>
<p>
    <br>
A member of ours has left a scannable code somewhere inside Curiositeas, which will lead you to a website that has more information about our society. Your final task before ending your experience is to find this code, scan it, and learn about our society.<p>

</div>