---
title: VAGABOND
layout: base.njk
---

<style>
    * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
</style>

<header>
    <a href="/" class="accent small"></a>
</header>

<div class="center-wrapper">
    <h1>Vagabond | Adelaide Fringe</h1>
    <img src="/img/user_crop_1200x600.jpeg">
    <h2>Info for participating venues</h2>

    <p>"VAGABOND" is an immersive Augmented Reality Game (ARG) that includes a scavenger hunt in Adelaide's East End. Players scan a QR code at participating venues, which will direct them to their next task or location. Games span a total of 60 minutes.</p>

    <h3>Event Dates and Times:</h3>
    <ul>
        <li>Thursday, 22nd February, 2pm</li>
        <li>Saturday, 24th February, 2pm</li>
    </ul>

    <h3>Audience Size:</h3>
    <p>Both hunts are capped at 15 players <u>total</u>.</p>
    <ul>
        <li>For Thursday: we expect around 4 small groups of 3-5 players.</li>
        <li>For Saturday: we anticipate around 3 groups.</li>
    </ul>

    <h3>QR code information:</h3>
    <p>Basically, players will be directed to your venue as part of the scavenger hunt. No major disruptions to your normal business operations would be anticipated - interactions will likely be limited to a "scan-and-leave" situation, unless players choose to stop for food or drink or to browse.</p>

    <p>I will provide the printed QR code to be scanned by players at your location, at a time negotiated with your business.</p>

    <p>Placement of the QR code can be at your discretion, as visible or hidden as you like. Players will have access to a helpline in the event of difficulties locating the QR code on the day.<p>

    <h3>Contact Details:</h3>
    <p>Event Coordinator: Lucien Drivas</p>
    <p>Email: <a href="mailto:lucien@lulu.contact">lucien@lulu.contact</a></p>
    <p>Phone: 0422 630 771</p>

    <p>Please don't hesitate to reach out if you have any questions! I love spotlighting great businesses in the city, so it's exciting to hear you're happy to be a small part of our little show!</p>

    <p>Kind regards,</p>
    <p>Lucien<br>
    0422 630 771<br>
    <a href="mailto:lucien@lulu.contact">lucien@lulu.contact</a></p>
</body>
</html>

</div>

<script src="../js/vagabond_client.js"></script>